@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/medyaboyutlandirma.css" rel="stylesheet" />
<div class="container mt-5">
    <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Doğum Tarihi</th>
                <th>Personel Fotoğrafı</th> 
                <th>Okul Adı</th> 
                <th>Mezun Yılı</th> 
                <th>Okul Fotoğrafı</th> 
                <th></th>
            </tr>
        </thead>




    </table>
</div>
<div class="container">
    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-success"><a class="nav-link text-white" asp-area="" asp-controller="PersonelEkleme" asp-action="PersonelEkleme">Personel Ekle</a> </button>
    </div>
</div>
<script src="~/js/personellisteleme.js"></script>