@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row m-6 bg-dark text-white vh-75 vw-75"> 

    <div class=" col-md-12 col-sm-12 mr-2 mt-2 py-5 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row justify-content-center">

            <div class="col-12 m-auto">

                <h2 class="text-center text-dark">Personel Sayfasına Erişmek İçin Giriş Yapmalısınız</h2>
            </div>

            <div class="col-8">
                <div id="GirisEkrani1" class="align-items-center w-100">
                   
                   
                    <form action="GirisEkrani" class=" w-100">
                       <div class="row">
                           <div class="col-12">
                               <div class="container">
                                <label for="email"><b class="text-dark">Email</b></label>
                                    <input type="email" placeholder="Email Adresi" name="email" class="w-100" required>
                                </div>
                           </div>
                            <div class="col-12">
                                <div class="container">


                                    <label for="psw"><b class="text-dark">Şifreniz</b></label>
                                    <input type="password" placeholder="Şifrenizi Girin" name="psw" class="w-100" required>

                                   

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row justify-content-end p-2">
                             
                                    <div class="col-3 m-2">
                                        <button type="button" onclick="submitForm('GirisEkrani1')" class="h-30">Giriş Yap</button>
                                    </div>
                                    <div class="col-3 m-2 ">
                                        <button class="h-30" onclick="document.getElementById('kayit').style.display='block'">Kayıt Ol</button>
                                    </div>
                                </div>

                            </div>
                      
                       </div>
                 
                   
                    </form>
                </div>

            </div>
            <div id="kayit" class="modal">
          
                <form class="modal-content">
                   <div class="row justify-content-end">
                       <div class="col-4 text-right rounded-circle">
                            <span onclick="document.getElementById('kayit').style.display='none'" class="closesignup bg-danger justify-content-end vh-4 vw-6 align-items-end rounded-circle  " title="Close Modal">&times;</span>
                       </div>

                   </div>
                 
                    <div class="container">
                        <h1 class="text-dark p-4">Kayıt Ol</h1>
                        <p class="text-dark p-4">Bu Formu Doldurarak Hesabınızı Oluşturabilirsiniz.</p>
                        <hr>
                        <label for="email"><b class="text-dark">Email</b></label>
                        <input type="text" placeholder="Emailinizi Giriniz" name="email" required>

                        <label for="psw"><b class="text-dark">Yeni Şifre Oluşturun</b></label>
                        <input type="password" placeholder="Yeni Şifre Oluşturun" name="psw" required>

                        <label for="psw-repeat"><b class="text-dark">Yeni Şifreyi Tekrar Giriniz</b></label>
                        <input type="password" placeholder="Yeni Şifreyi Tekrar Giriniz" name="psw-repeat" required>
 
                        <p class="text-dark">Bize verdiğiniz izin Doğrultusunda Hesabınızı Kaydedeceğimizi bildiririz <a href="#" style="color:dodgerblue">Politikalar ve Gizlilik bilgileri</a>.</p>

                        <div class="clearfix row">
                            <div class="col-6">
                          
                                <button type="button" class="signup" onclick="kullanicikaydet('kayit')">Kayıt Ol</button>

                            </div>
                            <div class="col-6">
                                <button type="button" onclick="document.getElementById('kayit').style.display='none'" class="cancelbtnforsng w-100">İptal</button>

                            </div>
                           

                        </div>
                    </div>
                </form>
            </div>

        </div>




    </div>
 
    






</div>

<link href="~/css/login.css" rel="stylesheet" />
<link href="~/css/giris.css" rel="stylesheet" />
<script src="~/js/girisekrani.js"></script>